:root{
    --main-color:(#ffffff);
    --secundary-color:(#40bba4);
    --terciary-color:(#363e43);
    --hyligth-color-1:(#eb7062);
    --hyligth-color-2:(#f1c41f);
    --hyligth-color-3:(#efaf6a);
}

/* MENU */
.header{
    margin-bottom: 30px;
    max-width: 100%;
    background-color: black;
} 
.logo{
    width: 70px;
    margin-left: 10px;
}
.menu_area{
    margin-top: 20px;
}
.menu_area nav a{
    background-color: rgb(0, 0, 0);
    color: white;
}

.nav-link:focus, .nav-link:hover {
    color: #eb7062;
}

.my-2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.header_area{
    padding: 0 20px;
}

.btn-danger{
    background-color: #bb2d3b !important;
    border-color: #b02a37 !important;
}
.btn-danger:hover{
    background-color: #eb7062 !important;
    border-color: #eb7062 !important;
}

/* MAIN */

#retorno{
    margin-left: 10%;
    background-color: #363e43;
    color: #eb7062;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
}

#retorno:hover{
    cursor: pointer;
    background-color: #eb7062;
    color: #363e43;
}

h1{
    color: #f1c41f;
}

.btn-outline-secondary{
    background-color: #363e43;
    border-color: #363636;
    color: #eb7062;
}

.btn-outline-secondary:hover {
    background-color: #eb7062;
    color: #363e43;
    border-color: #eb7062;

}

#cadastro_info {
    margin-left: 60px;
}

.btn-primary{
    color: white;
    background-color: #eb7062;
    border-color: #eb7062;
    margin-top: 25px !important;
    margin-left: 0 !important;
}

.btn-primary:hover{
    background-color: #e95e4e;
    border-color: #e95e4e;
    margin-top: 25px !important;
    margin-left: 0 !important;
}

/* FOOTER */
#footer{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    width: 100%;
}

@media screen and (max-width:700px){
    .card-body{
        min-width: 300px;
    }
    .header{
        margin-bottom: 10px;
    }

    .row{
        display: flex;
        flex-direction: column;
    }
}
